<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="application" value="cp130" />
    <add key="apiKey" value="3701c6ceeea40a624fd1d6fa3095fd54" />
    <add key="csvPath" value="C:\Temp\" />

    <add key="ClientSecret" value="6fbtRWKJha" />
    <add key="ClientId" value="njjertj3reue5wtrgxry33e5" />
    <add key="XHookSecretHeader" value="X-Hook-Secret" />
    <add key="GrantType" value="authorization_code" />
    <add key="ResponseType" value="code" />
    <add key="State" value="doy" />
    <add key="LogDirectory" value="c:\log" />

    <add key="BaseApiUrl" value="https://api.infusionsoft.com/crm/rest/v1" />
    <add key="AuthorizeUrl" value="https://signin.infusionsoft.com/app/oauth/authorize" />
    <add key="BaseAuthorizeUrl" value="https://signin.infusionsoft.com/app/oauth/authorize" />
    <add key="BaseTokenUrl" value="https://api.infusionsoft.com/token" />

    <add key="HookUrl" value="https://64213c18.ngrok.io/api/infusionsoft/verifyhook" />
    <add key="RedirectUri" value="https://64213c18.ngrok.io/Authenticate.aspx" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
    <trust level="Full" />   
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer><connectionStrings><add name="NinjacatorsEntities" connectionString="metadata=res://*/Models.TradersInnovation.csdl|res://*/Models.TradersInnovation.ssdl|res://*/Models.TradersInnovation.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-504D0FF\SQLEXPRESS;initial catalog=Ninjacators;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>